In [1]:
import numpy as np
import math
from collections import Counter
import random

# <span style='color:green'>Set Based Practice Problems</span>

1. Create a set with integers from 1 to 5.

In [2]:
# We can create a list of n numbers. This way we create bigger list as per requirement
n = 5
data = {}
key = f'set_1_to_{n}' # Naming the list dynamically
data[key] = set(i for i in range(1, n+1))
print("set of numbers from 1 to 5 is:", str(key) + ' = ' + str(data[key]))

set of numbers from 1 to 5 is: set_1_to_5 = {1, 2, 3, 4, 5}

2. Add an element to a set.

In [3]:
element_to_add = 'a'
set1 = {'b', 'c', 'd', 'e'}
set1.add(element_to_add)

print(f'Set after adding the required element is: {set1}')

Set after adding the required element is: {'b', 'a', 'e', 'd', 'c'}

3. Remove an element from a set.

In [4]:
element_to_remove = 'a'
set1 = {'b', 'c', 'd', 'e', 'a', 'f', 'g'}
set1.remove(element_to_remove)

print(f'Set after adding the required element is: {set1}')

Set after adding the required element is: {'e', 'f', 'd', 'b', 'g', 'c'}

4. Check if an element exists in a set.

In [5]:
def is_element(input_element, input_set):
    for elt in input_set:
        if elt == input_element:
            print(f'{elt} exists in the given set')
    
input_element = 'a'
input_set = {'a','b','c','d'}
result = is_element(input_element, input_set)
print(result)

a exists in the given set
None

In [6]:
def is_element(input_element, input_set):
    for elt in input_set:
        if elt == input_element:
            return True
    return False

input_element = 'a'
input_set = {'a', 'b', 'c', 'd'}
if is_element(input_element, input_set):
    print(f"The element '{input_element}' exists in the given set")
else:
    print(f"The element '{input_element}' does not exist in the given set")

The element 'a' exists in the given set

In [7]:
# We can define more precise function as following
def is_element(input_element, input_set):
    return input_element in input_set

input_element = 'a'
input_set = {'a', 'b', 'c', 'd'}
if is_element(input_element, input_set):
    print(f"The element '{input_element}' exists in the given set")
else:
    print(f"The element '{input_element}' does not exist in the given set")

The element 'a' exists in the given set

5. Find the length of a set without using the `len()` function.

In [8]:
set1 = {1,2,3,4,5,5,10,11,12}

len_set1 = list(set1).index(list(set1)[-1]) + 1
print(f'Length of given set is {len_set1}')

Length of given set is 8

In [9]:
len(set1)

8

In [10]:
# Another way
set1 = {1, 2, 3, 4, 5, 5, 10, 11, 12}

count = 0
for _ in set1:
    count += 1

print(f'Length of the given set is {count}')

Length of the given set is 8

6. Clear all elements from a set.

In [11]:
set1 = {1, 2, 3, 4, 5, 5, 10, 11, 12}
set1.clear()

print("Set after clearing:", set1)

Set after clearing: set()

7. Create a set of even numbers from 1 to 10.

In [12]:
n = 10 
even_set = set(i for i in range(1, n + 1) if i%2 == 0)
print(f"The set of even numbers from 1 to {n} is:", even_set)

The set of even numbers from 1 to 10 is: {2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [13]:
n = 10 
odd_set = set(i for i in range(1, n + 1) if i%2 == 1)
print(f"The set of odd numbers from 1 to {n} is:", odd_set)

The set of odd numbers from 1 to 10 is: {1, 3, 5, 7, 9}

9. Find the union of two sets.

In [14]:
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {8,9,10,11,12,13}
union_set = set1.union(set2)
print("The union of set1 and set2 is:", union_set)

The union of set1 and set2 is: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

10. Find the intersection of two sets.

In [15]:
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {8,9,10,11,12,13}
intersection_set = set1.intersection(set2)
print("The intersection of set1 and set2 is:", intersection_set)

The intersection of set1 and set2 is: {8, 9, 10}

11. Find the difference between two sets.

In [16]:
diff_set = set1.difference(set2)
print("Difference of set1 and set2 is:", diff_set)

Difference of set1 and set2 is: {1, 2, 3, 4, 5, 6, 7}

12. Check if a set is a subset of another set.

In [17]:
# Python has built-in function for checking subset
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5, 6}

is_subset = set1.issubset(set2)

if is_subset:
    print("set1 is a subset of set2")
else:
    print("set1 is not a subset of set2")

set1 is a subset of set2

13. Check if a set is a superset of another set.

In [2]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {1, 2, 3}

is_superset = set1.issuperset(set2)

if is_superset:
    print("Set1 is a superset of set2")
else:
    print("Set1 is not a superset of set2")

Set1 is a superset of set2

14. Create a set from a list.

In [3]:
list1 = [1,2,3,4,5]
set1 = set(set1)
print(f"The set from the given list is {set1}")

The set from the given list is {1, 2, 3, 4, 5, 6}

15. Convert a set to a list.

In [4]:
set1 = {1,2,3,4,5,6}
list1 = list(set1)
print(f"The list from the given set is {list1}")

The list from the given set is [1, 2, 3, 4, 5, 6]

16. Remove a random element from a set.

In [6]:
set1 = {1,200,350,4,100,150}
random_element = set1.pop()
print(f"Removed element from the set is {random_element}")
print(f"The set after removing the element is {set1}")

Removed element from the set is 1
The set after removing the element is {100, 4, 150, 200, 350}

In [7]:
# We can also use remove method for this purpose
set1.remove(100)

In [8]:
set1

{4, 150, 200, 350}

17. Pop an element from a set.

In [10]:
set2 = {10, 20, 30, 40, 50}
set2.pop()
set2

{10, 20, 30, 40}

18. Check if two sets have no elements in common.

In [12]:
# Using len function 
set1 = {1,2,3,4,5,6,7}
set2 = {1,3,5,7,11,13,17}

int_set = set1.intersection(set2)
if len(int_set) == 0:
    print("The two sets are disjoint")
else:
    print("The set of intersection of two given sets is:", int_set)

The set of intersection of two given sets is: {1, 3, 5, 7}

In [14]:
# Using is disjoint function
set1 = {1, 2, 3, 4, 5, 6, 7}
set2 = {1, 3, 5, 7, 11, 13, 17}

if set1.isdisjoint(set2):
    print("The two sets are disjoint")
else:
    common_elements = set1.intersection(set2)
    print("The set of intersection of two given sets is:", common_elements)

The set of intersection of two given sets is: {1, 3, 5, 7}

19. Find the symmetric difference between two sets.

* The symmetric difference of set1 and set2 is (set1 - set2) union (set2 - set1)

In [16]:
# Manually finding the symmetric difference
set1 = {1, 2, 3, 4, 5, 6, 7}
set2 = {1, 3, 5, 7, 11, 13, 17}

symm_difference = (set1 - set2).union(set2 - set1)
print(f"The symmetric difference of the two given sets is: {symm_difference}")

The symmetric difference of the two given sets is: {17, 2, 4, 6, 11, 13}

In [18]:
# Using python's built-in symmetric_difference function
set1 = {1, 2, 3, 4, 5, 6, 7}
set2 = {1, 3, 5, 7, 11, 13, 17}

symm_difference = set1.symmetric_difference(set2)
print(f"The symmetric difference of the two given sets is: {symm_difference}")

The symmetric difference of the two given sets is: {2, 4, 6, 11, 13, 17}

20. Update a set with elements from another set.

In [20]:
# Using union of two set
set1 = set1.union(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 11, 13, 17}

21. Create a set of the first 5 prime numbers.

In [23]:
# Simply type first five prime numbers
set_prime = {2, 3, 5, 7, 11}
print(set_prime)

{2, 3, 5, 7, 11}

In [25]:
# Print the set containing first n prime numbers
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

def first_n_primes(n):
    prime_list = []
    num = 2
    while len(prime_list) < n:
        if is_prime(num):
            prime_list.append(num)
        num += 1
    return tuple(prime_list)

n = 100  # Creating the list of first 100 primes
prime_numbers = set(first_n_primes(n))
print(prime_numbers)

{2, 3, 5, 7, 521, 11, 523, 13, 17, 19, 23, 29, 541, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509}

22. Check if two sets are identical.

In [27]:
set1 = {5, 10, 45, 100, 20, 30}
set2 = {5, 10, 20, 30, 45, 100}
if set1 == set2:
    print("Given sets are equal")
else:
    print("Given sets are not eqaul")

Given sets are equal

23. Create a frozen set.

* A frozen set in Python is an immutable version of a set. This means that once we create a frozen set, we cannot         add, remove, or modify elements within it. Frozen sets are useful in scenarios where we need an unchangeable     set     of elements, such as using sets as keys in dictionaries or elements in other sets.

In [28]:
ex_set = {1, 2, 3, 4, 5}
frozen_set = frozenset(ex_set)
print(frozen_set)

frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [32]:
# Using is dijoint function in python
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {11,12,13,14,15}

if set1.isdisjoint(set2):
    print("The two sets are disjoint")
else:
    common_elements = set1.intersection(set2)
    print("The set of intersection of two given sets is:", common_elements)

The two sets are disjoint

25. Create a set of squares of numbers from 1 to 5.

In [33]:
set1 = {1,2,3,4,5}
set_of_squares = set(i**2 for i in set1)
print(f"Set of squares is: {set_of_squares}")

Set of squares is: {1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [34]:
set2 = {1,2,3,4,5,6,7,8,9,10}
set_of_odds = set(i for i in set2 if i%2 != 0)
print(f"The set of odd numbers from the given set is: {set_of_odds}")

The set of odd numbers from the given set is: {1, 3, 5, 7, 9}

27. Multiply all elements in a set by 2.

In [35]:
set2 = {1,2,3,4,5,6,7,8,9,10}
mult_of_two = set(i*2 for i in set2)
print(f"The given set after multiplying all the elements by 2 is: {mult_of_two}")

The given set after multiplying all the elements by 2 is: {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

28. Create a set of random numbers.

In [36]:
# Generate a set of 10 random integers between 1 and 100
random_set = set(random.sample(range(1, 101), 10))

print("Random set of integers:", random_set)

Random set of integers: {96, 99, 5, 70, 75, 76, 47, 49, 81, 55}

29. Check if a set is empty.

In [37]:
eset = {}
if len(eset) == 0:
    print("Given set is empty")
else:
    print("Given set is not empty")

Given set is empty

30. Create a nested set (hint: use frozenset).

In [40]:
# Create nested sets using frozenset
set1 = frozenset([1, 2, 3])
inner_set2 = frozenset([4, 5, 6])
inner_set3 = frozenset([7, 8, 9])

nested_set = frozenset([inner_set1, inner_set2, inner_set3])

print("Nested set:",nested_set)

Nested set: frozenset({frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({8, 9, 7})})

31. Remove an element from a set using the discard method.

In [41]:
set1 = {1,2,3,4,5,6}
set1.discard(1)

In [42]:
set1

{2, 3, 4, 5, 6}

32. Compare two sets.

In [44]:
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {10,9,7,8,5,2,3,6}

def compare_sets(set1, set2):
    if set1.issubset(set2):
        print("set1 is a subset of set2")
    elif set2.issubset(set1):
        print("set2 is a subset of set1")
    elif set1 == set2:
        print("set1 and set2 are identical sets")
    else:
        print("set1 and set2 are not comparable")
compare_sets(set1, set2)

set2 is a subset of set1

33. Create a set from a string.

In [46]:
#string_set = {'India', 'Australia', 'New zealand', 'South Africa', 'England', 'Netherlands'}

In [51]:
string = 'India'
string_set = sorted(set(char for char in string))
print(f"Set of strings is {string_set}")

Set of strings is ['I', 'a', 'd', 'i', 'n']

34. Convert a set of strings to a set of integers.

In [53]:
string_set = {'1','2','3','4','5'} 
int_set = set(int(i) for i in string_set)
int_set

{1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings.

In [54]:
string_set = set(str(i) for i in int_set)
string_set

{'1', '2', '3', '4', '5'}

36. Create a set from a tuple.

In [55]:
tup = (1, 2, 3, 4, 5)
set_from_tup = set(tup)
set_from_tup

{1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [56]:
set1 = {1,2,3,4,5}
tup = tuple(set1)
tup

(1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [57]:
max_value = max(set1)
max_value

5

39. Find the minimum value in a set.

In [58]:
min_value = min(set1)
min_value

1

40. Create a set from user input.

In [61]:
# Get input from the user
user_input = input("Enter a list of elements separated by spaces: ")

# Split the user input into a list
elements = user_input.split()

# Create a set from the list of elements
user_set = set(elements)

print("The set created by user is:", user_set)

Enter a list of elements separated by spaces:  1 2 3 4 5

The set created by user is: {'1', '2', '4', '3', '5'}

41. Check if the intersection of two sets is empty.

In [62]:
set1 = {1,3,5,7,9}
set2 = {2,4,6,8,10}

intersection_set = set1.intersection(set2)
if len(intersection_set) == 0:
    print("The intersection of set1 and set2 is empty")
else:
    print("The intersection of set1 and set2 is not empty")

The intersection of set1 and set2 is empty

42. Create a set of the first 5 Fibonacci numbers.

In [63]:
def fibonacci(n):
    fib_sequence = [0, 1]
    
    while len(fib_sequence) < n:
        next_number = fib_sequence[-1] + fib_sequence[-2]
        fib_sequence.append(next_number)
    
    return fib_sequence

In [64]:
fibo_set = set(fibonacci(5))
print(f"The set containing first five Fibonacci numbers is: {fibo_set}")

The set containing first five Fibonacci numbers is: {0, 1, 2, 3}

In [67]:
# We can define the function in another way as below:
def generate_first_5_fibonacci_numbers():
    fib_set = set()
    a, b = 0, 1
    for _ in range(5):
        fib_set.add(a)
        a, b = b, a + b
    return fib_set

# Call the function
fibonacci_set = generate_first_5_fibonacci_numbers()
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

* 1 will not be repeated after 1 because set do not contain duplicate elements

43. Remove duplicates from a list using sets.

In [69]:
list1 = [1,1,2,2,3,3,4,4,5,5]
set_from_list = set(list1)
unique_elt_list = list(set_from_list)
unique_elt_list

[1, 2, 3, 4, 5]

44. Check if two sets have the same elements, regardless of their count.

In [70]:
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1, 1, 2, 3, 4}  # Contains duplicates 

if set1.issubset(set2) and set2.issubset(set1):
    print("The sets have the same elements, regardless of their count")
else:
    print("The sets are not identical in terms of elements")

The sets have the same elements, regardless of their count

45. Create a set of the first `n` powers of 2.

In [72]:
# Using list comprehension
n = 10
powers_of_2_set = sorted(set(2**i for i in range(1, n+1)))
print(f"set containing First {n} powers of 2 is: {powers_of_2_set}")

set containing First 10 powers of 2 is: [2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

46. Find the common elements between a set and a list.

In [75]:
list1 = [1,2,3,4,5,6,7,8,9,10]
set1 = {1,3,5,7,11,13,17,19,23}
int_list_set = set1.intersection(list1)
print("The intersection set of given list and set is", int_list_set)

The intersection set of given list and set is {1, 3, 5, 7}

47. Create a set of the first `n` triangular numbers.

In [77]:
# Define the function to create triangular numbers
def triangular_num(n):
    triangular_numbers = []
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2
        triangular_numbers.append(triangular_number)
    return triangular_numbers

n = 10 
result = set(triangular_num(n))
print(f"The set conatining first {n} triangular numbers is: {result}")

The set conatining first 10 triangular numbers is: {1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

48. Check if a set contains another set as a subset.

In [79]:
set1 = {1,2,3,4}
set2 = {1,2,3,4,5,6,7,8,9,10}

if set1.issubset(set2):
    print("Set1 is a subset of set2")
elif set2.issubset(set1):
    print("Set2 is a subset of set1")
else:
    print("set1 and set2 are not fully comparable")

Set1 is a subset of set2

49. Create a set of alternating 1s and 0s of length `n`.

In [80]:
n = 10  
# Create a list of alternating 1s and 0s
alternating_sequence = [1 if i % 2 == 0 else 0 for i in range(n)]

# Convert the list to a set
alternating_set = set(alternating_sequence)

print("Set of alternating 1s and 0s:", alternating_set)

Set of alternating 1s and 0s: {0, 1}

In [81]:
alterneting_set = {1, 0, 1, 0, 1, 0, 1, 0, 1, 0}
alterneting_set

{0, 1}

* Note: Set can not contain duplicate elements

50. Merge multiple sets into one.

In [82]:
# Using union operator
set1 = {1,2,3}
set2 = {4,5,6}
set3 = {7,8,9}
set4 = {10,11,12}

merged_set = set1.union(set2, set3, set4)

print("Merged set:", merged_set)

Merged set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [84]:
# Using or operator
set1 = {1,2,3}
set2 = {4,5,6}
set3 = {7,8,9}
set4 = {10,11,12}

merged_set = set1 | set2 | set3 | set4

print("Merged set:", merged_set)

Merged set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}