In [67]:
import numpy as np
import math
from collections import Counter
import random

# <span style='color:green'>Topic: Tuple Based Practice Problems</span>

1. Create a tuple with integers from 1 to 5.

In [2]:
tuple1 = tuple(i for i in range(1, 6)) # Using this we can generalize the tuple upto n.
tuple1

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [3]:
a = tuple1[3]
a

4

3. Find the length of a tuple without using the `len()` function.

In [4]:
length_of_tuple = tuple1.index(tuple1[-1]) + 1
length_of_tuple

5

4. Count the occurrences of an element in a tuple.

In [5]:
def count_occurances(tup):
    tup_count = []
    for i in tup:
        j = tup.count(i)
        tup_count.append(j)
    tup_counts = dict(zip(tup, tup_count))
    return tup_counts

In [6]:
tuple2 = (1, 1, 2, 2, 2, 3, 3, 6, 6, 6, 6, 6, 7)

result = count_occurances(tuple2)
print('Number of times the each element occured in the tupple is', result)

Number of times the each element occured in the tupple is {1: 2, 2: 3, 3: 2, 6: 5, 7: 1}

In [7]:
# We can define the function in other way also

def count_occurrences(tup):
    tup_counts = dict(Counter(tup))
    return tup_counts

tuple2 = (1, 1, 2, 2, 2, 3, 3, 6, 6, 6, 6, 6, 7)

result = count_occurrences(tuple2)
print('Number of times each element occurred in the tuple is', result)

Number of times each element occurred in the tuple is {1: 2, 2: 3, 3: 2, 6: 5, 7: 1}

5. Find the index of the first occurrence of an element in a tuple.

In [8]:
my_tuple = (1, 1, 2, 2, 2, 3, 3, 6, 6, 6, 6, 6, 7)
element_to_find = 6

try:
    index = my_tuple.index(element_to_find)
    print(f"The first occurrence of {element_to_find} is at index {index}.")
except ValueError:
    print(f"{element_to_find} is not in the tuple.")

The first occurrence of 6 is at index 7.

6. Check if an element exists in a tuple.

In [9]:
def is_element_of_tup(element, my_tuple):
    for elt in my_tuple:
        if elt == element:
            return True
    return False

my_tuple = (10, 15, 20, 100, 450, 600, 190, 255)
element_to_check = 20

if is_element_of_tup(element_to_check, my_tuple):
    print(f'Element {element_to_check} is in the given tuple.')
else:
    print(f'Element {element_to_check} is not in the given tuple.')

Element 20 is in the given tuple.

7. Convert a tuple to a list.

In [10]:
tup = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
list_tup = list(tup)
list_tup

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

8. Convert a list to a tuple.

In [11]:
lst = [1, 2, 3, 4, 5]
tup = tuple(lst)
tup

(1, 2, 3, 4, 5)

9. Unpack the elements of a tuple into variables.

In [12]:
tup = ('a', 'b', 'c', 'd', 'f')

for elt in tup:
    print(elt)

a
b
c
d
f

10. Create a tuple of even numbers from 1 to 10.

In [13]:
# Using for loop
for i in range(1, 11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [14]:
# Using list comprehension
even_numbers = tuple(i for i in range(1, 11) if i % 2 == 0)
print('Even numbers from 1 to 10 are:', even_numbers)

Even numbers from 1 to 10 are: (2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [15]:
odd_numbers = tuple(i for i in range(1, 11) if i % 2 == 1)
print('Odd numbers from 1 to 10 are:', odd_numbers)

Odd numbers from 1 to 10 are: (1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [16]:
tup1 = (1, 2, 3, 4, 5)
tup2 = (6, 7, 8, 9, 10)

concat_tup = set(tup1).union(tup2)
concat_tup = tuple(concat_tup)
concat_tup

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

13. Repeat a tuple three times.

In [17]:
tup = (1, 2, 3, 4)
new_tup = tup * 3
print(new_tup)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

14. Check if a tuple is empty.

In [18]:
def is_empty_tup(tup):
    if len(tup) == 0:
        print('Given tuple is empty')
    else:
        print('Given tuple is not empty')

In [19]:
tup = ()
is_empty_tup(tup)

Given tuple is empty

15. Create a nested tuple.

16. Access the first element of a nested tuple.

In [20]:
nested_tup = ((1, 2), (3, 4), (5, 6))
nested_tup

((1, 2), (3, 4), (5, 6))

In [21]:
# We can access the each element of the tuple
print(nested_tup[0])
print(nested_tup[2])

(1, 2)
(5, 6)

17. Create a tuple with a single element.

In [22]:
tup_one_elt = (1,)
tup_one_elt

(1,)

18. Compare two tuples.

* Python compares elements from left to right. If the first elements of both tuples are equal, it moves on to the next elements and so on. The     comparison stops as soon as a difference is found, and the result is determined based on that.

In [23]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

if tuple1 < tuple2:
    print("Tuple1 is less than Tuple2")
elif tuple1 > tuple2:
    print("Tuple1 is greater than Tuple2")
else:
    print("Tuples are equal")

Tuple1 is less than Tuple2

19. Delete a tuple.

In [24]:
tup1 = (1, 2, 3, 4, 5)

In [25]:
del tup1

In [26]:
tup1

NameError: name 'tup1' is not defined

20. Slice a tuple.

In [ ]:
# We can slice the tuple using the index number of elements
tup1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
tup1_sliced = tup1[0:3]
tup1_sliced

21. Find the maximum value in a tuple.

In [ ]:
max_value = max(tup1)
max_value

22. Find the minimum value in a tuple.

In [56]:
tup1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
min_value = min(tup1)
min_value

1

23. Convert a string to a tuple of characters.

In [28]:
# Looping through each character of string
word_string = 'python coding'
word_char = tuple(char for char in word_string)
word_char

('p', 'y', 't', 'h', 'o', 'n', ' ', 'c', 'o', 'd', 'i', 'n', 'g')

In [29]:
# We can also form a tuple words from the string
string = 'It is raining today'
word_list = string.split()
word_tuple = tuple(word_list)
word_tuple

('It', 'is', 'raining', 'today')

24. Convert a tuple of characters to a string.

In [30]:
char_tup = ('P', 'Y', 'T', 'H', 'O', 'N')
word_tup = ''.join(char_tup)
word_tup

'PYTHON'

25. Create a tuple from multiple data types.

In [31]:
multi_tuple = (1, 'coding', 3.5, [3, 4, 5], (6, 7, 8))
multi_tuple

(1, 'coding', 3.5, [3, 4, 5], (6, 7, 8))

26. Check if two tuples are identical.

In [32]:
tup1 = (1, 2, 3)
tup2 = (4, 5, 6)

if tup1 == tup2:
    print('Given tuples are equal')
else:
    print('Given tuples are not equal')

Given tuples are not equal

27. Sort the elements of a tuple.

In [35]:
tup = (3, 5, 8, 10, 12, 15, 100)
sorted_tup = sorted(tup)
print(sorted_tup)

[3, 5, 8, 10, 12, 15, 100]

In [36]:
tup = (3, 5, 8, 10, 12, 15, 100)
sorted_tup_r = sorted(tup, reverse=True)
print(sorted_tup_r)

[100, 15, 12, 10, 8, 5, 3]

28. Convert a tuple of integers to a tuple of strings.

In [44]:
# Using for loop
tup = (1,2,3,4,5)

str_tup = []
for i in tup:
    i = str(i)
    str_tup.append(i)
str_tup = tuple(str_tup)
str_tup

('1', '2', '3', '4', '5')

In [45]:
# Using list comprehension
tup = (1, 2, 3, 4, 5)
str_tup = tuple(str(i) for i in tup)
print(str_tup)

('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [47]:
# Convert each element of tuple into integer
int_tup = tuple(int(i) for i in str_tup)
print(int_tup)

(1, 2, 3, 4, 5)

30. Merge two tuples.

In [51]:
tup1 = (1,2,3,4,5)
tup2 = (5,6,7,8,9)
result_tup = set(tup1).union(tup2)
result_tup = tuple(result_tup)
print(result_tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [52]:
tup1 = (1, 2, 3, 4, 5)
tup2 = (5, 6, 7, 8, 9)
result_tup = tup1 + tup2
print(result_tup)

(1, 2, 3, 4, 5, 5, 6, 7, 8, 9)

31. Flatten a nested tuple.

In [54]:
nested_tup = (((1,2),(3,4),(5,6),(7,8)),((9,10),(11,12),(13,14),(15,16)))

In [55]:
# Start by looping through each element of the tuple
def flatten_tuple(nested_tuple):
    flat_list = []
    for item in nested_tuple:
        if isinstance(item, tuple):   # Check whether the element is tuple or not
            flat_list.extend(flatten_tuple(item))
        else:
            flat_list.append(item)
    return flat_list

flattened_tuple = tuple(flatten_tuple(nested_tup))
print(flattened_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16)

32. Create a tuple of the first 5 prime numbers.

In [57]:
# We can create a tuple just by manually passing the prime numbers into a tuple
prime_tuple = (2, 3, 5, 7, 11)
prime_tuple

(2, 3, 5, 7, 11)

In [58]:
# We can define a function to create a tuple containing first n prime numbers  
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

def first_n_primes(n):
    prime_list = []
    num = 2
    while len(prime_list) < n:
        if is_prime(num):
            prime_list.append(num)
        num += 1
    return tuple(prime_list)

n = 5  
prime_numbers = first_n_primes(n)
print(prime_numbers)

(2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

*  If the tuple and its reverse are the same, then the tuple is a palindrome.

In [59]:
def is_palindrome_tuple(tup):
    return tup == tup[::-1]

In [60]:
palindrome_tup = (1,2,3,4,3,2,1)
if is_palindrome_tuple(palindrome_tup):
    print("The tuple is a palindrome.")
else:
    print("The tuple is not a palindrome.")

The tuple is a palindrome.

In [61]:
non_palindrome_tup = (1,2,3,4,5)
if is_palindrome_tuple(non_palindrome_tup):
    print("The tuple is a palindrome.")
else:
    print("The tuple is not a palindrome.")

The tuple is not a palindrome.

34. Create a tuple of squares of numbers from 1 to 5.

In [62]:
# Using tuple 
tup = (1,2,3,4,5)
square_tup = tuple(i**2 for i in tup)
print(square_tup)

(1, 4, 9, 16, 25)

In [63]:
# using numbers
square_tup = []
for i in range(1,6):
    j = i**2
    square_tup.append(j)
square_tup = tuple(square_tup)
print(square_tup)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [64]:
def odd_tuple(input_tup):
    output_tup = tuple(i for i in input_tup if i%2 != 0)
    return output_tup
input_tuple = (1,2,3,4,5,6,7,8,9,10)
output_tuple = odd_tuple(input_tuple)
print(f"Given tuple after removing even numbers is {output_tuple}")

Given tuple after removing even numbers is (1, 3, 5, 7, 9)

36. Multiply all elements in a tuple by 2.

In [66]:
def multiple_of_two_tuple(input_tup):
    output_tup = tuple(i*2 for i in input_tup)
    return output_tup
input_tuple = (1,2,3,4,5,6,7,8,9,10)
output_tuple = multiple_of_two_tuple(input_tuple)
print(f"Given tuple after multiplying all numbers by two is {output_tuple}")

Given tuple after multiplying all numbers by two is (2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

37. Create a tuple of random numbers.

In [68]:
random_tuple = tuple(random.randint(1, 100) for _ in range(10))

print(random_tuple)

(41, 84, 1, 78, 64, 66, 75, 88, 66, 41)

39. Rotate a tuple to the left by `n` positions.

In [69]:
def rotate_tuple_left(tup, n):
    if n < 0:
        n = len(tup) + n  
    n = n % len(tup)  

    return tup[n:] + tup[:n]

In [82]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
rotated_tuple = rotate_tuple_left(original_tuple, 7)

print("Original Tuple:", original_tuple)
print("Rotated Tuple:", rotated_tuple)

Original Tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Rotated Tuple: (8, 9, 10, 1, 2, 3, 4, 5, 6, 7)

40. Rotate a tuple to the right by `n` positions.

In [83]:
def rotate_tuple_right(tup, n):
    if n < 0:
        n = len(tup) + n  
    n = n % len(tup)  

    return tup[-n:] + tup[:-n]

In [84]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
rotated_tuple = rotate_tuple_right(original_tuple, 7)

print("Original Tuple:", original_tuple)
print("Rotated Tuple:", rotated_tuple)

Original Tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Rotated Tuple: (4, 5, 6, 7, 8, 9, 10, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [85]:
# We define the same function as we did in the list based problems
def fibonacci(n):
    fib_sequence = [0, 1]
    
    while len(fib_sequence) < n:
        next_number = fib_sequence[-1] + fib_sequence[-2]
        fib_sequence.append(next_number)
    
    return fib_sequence

In [90]:
fibo_tuple = tuple(fibonacci(5))
print(f"The tuple containing first five Fibonacci numbers is: {fibo_tuple}")

The tuple containing first five Fibonacci numbers is: (0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [92]:
values_for_tuple = input("Enter the values")
tuple(values_for_tuple)

Enter the values 123456

('1', '2', '3', '4', '5', '6')

* If we want to keep values numbers and strings as they are, we have to define anothe function

In [94]:
# Input the values separated by spaces
input_values = input("Enter the values separated by spaces: ")

values = input_values.split()

parsed_values = []

# Define the function which will handle the necessary exceptions
for value in values:
    try:
        parsed_value = int(value)
    except ValueError:
        parsed_value = value
    parsed_values.append(parsed_value)

result_tuple = tuple(parsed_values)

print("Resulting tuple:", result_tuple)

Enter the values separated by spaces:  1 a 2 b 3 c 4 d 5 e

Resulting tuple: (1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e')

43. Swap two elements in a tuple.

In [95]:
def swap_elements(tup, index1, index2):
    tup_list = list(tup) # Convert the tuple into the list
    tup_list[index1], tup_list[index2] = tup_list[index2], tup_list[index1]
    swapped_tuple = tuple(tup_list)
    return swapped_tuple

In [96]:
original_tuple = (1, 2, 3, 4, 5)
index_to_swap1 = 1
index_to_swap2 = 3
swapped_tuple = swap_elements(original_tuple, index_to_swap1, index_to_swap2)

print("Original Tuple:", original_tuple)
print(f"Swapped elements at index {index_to_swap1} and {index_to_swap2}: {swapped_tuple}")

Original Tuple: (1, 2, 3, 4, 5)
Swapped elements at index 1 and 3: (1, 4, 3, 2, 5)

44. Reverse the elements of a tuple.

In [97]:
tup = (1,2,3,4,5,6,7,8,9,10)
rev_tup = tup[::-1]
print("Reverse of the given tuple is:", rev_tup)

Reverse of the given tuple is: (10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [100]:
def powers_of_two(n):
    return [2 ** i for i in range(1, n + 1)]

n = 10
result = tuple(powers_of_two(n))
print(f'Powers of 2 up to {n} are', result)

Powers of 2 up to 10 are (2, 4, 8, 16, 32, 64, 128, 256, 512, 1024)

46. Find the longest string in a tuple of strings.

In [102]:
def longest_string(input_tuple):
    max_length = max(len(string) for string in input_tuple)
    longest_strings = [string for string in input_tuple if len(string) == max_length]
    return  longest_strings, max_length

In [104]:
input_tuple = ('keyboard', 'mouse', 'motherboard', 'monitor', 'Cooling fan', 'ICs', 'cpu')
longest_strings, max_length = longest_string(input_tuple)
print(f"Longest string(s) in the given tuple is/are {longest_strings} and its/their length is {max_length}")

Longest string(s) in the given tuple is/are ['motherboard', 'Cooling fan'] and its length is 11

47. Find the shortest string in a tuple of strings.

In [105]:
def shortest_string(input_tuple):
    min_length = min(len(string) for string in input_tuple)
    shortest_strings = [string for string in input_tuple if len(string) == min_length]
    return  shortest_strings, min_length

In [106]:
input_tuple = ('keyboard', 'mouse', 'motherboard', 'monitor', 'Cooling fan', 'ICs', 'cpu')
shortest_strings, min_length = shortest_string(input_tuple)
print(f"Shortest string(s) in the given tuple is/are {shortest_strings} and its/their length is {min_length}")

Shortest string(s) in the given tuple is/are ['ICs', 'cpu'] and its/their length is 3

48. Create a tuple of the first `n` triangular numbers.

In [107]:
# Define the function to create triangular numbers
def triangular_num(n):
    triangular_numbers = []
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2
        triangular_numbers.append(triangular_number)
    return triangular_numbers

n = 10 
result = tuple(triangular_num(n))
print("The tuple conatining first", n, "triangular numbers is:", result)

The tuple conatining first 10 triangular numbers is: (1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

49. Check if a tuple contains another tuple as a subsequence.

In [109]:
def is_subsequence(subtuple, maintuple):
    sub_len = len(subtuple)
    main_len = len(maintuple)
    if sub_len == 0:
        return True
    if main_len < sub_len:
        return False
    
    sub_index = 0
    for element in maintuple:
        if element == subtuple[sub_index]:
            sub_index += 1
            if sub_index == sub_len:
                return True
    
    return False

In [111]:
maintuple = (1, 2, 3, 4, 5, 6, 7, 8, 10, 12)
subtuple = (2, 4, 6)

result = is_subsequence(subtuple, maintuple)
if result:
    print('Given subtuple is a subtuple of the maintuple')
else:
    print('Given subtuple is not a subtuple of the maintuple')

Given subtuple is a subtuple of the maintuple

50. Create a tuple of alternating 1s and 0s of length `n`.

In [114]:
# We can define by just one line code using list comprehension
n = 5
tuple_binary = tuple(1 if i%2 == 0 else 0 for i in range(n))
print(tuple_binary)

(1, 0, 1, 0, 1)